.mr-15 {
   margin-right: 15px; 
}

.mt-35 {
    margin-top: 35px;
}


.mt-15 {
    margin-top: 15px;
}
.button-filter {
    margin-right: 15px;
    border-radius: 10px;
}

.text-center {
    text-align: center;
}